.navlink {
  $this: &;
  @apply relative overflow-x-hidden py-6;

  &:after {
    @apply bg-primary-500 w-full block absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
    transition: all 0.15s ease;
    transform: translateX(-100%);
  }
  &--active {
    @apply relative text-primary-500;
    &:after {
      transform: translateX(0);
      animation-name: translate-to-right;
      animation-duration: 0.35s;
    }
    &#{$this}--sale {
      @apply relative text-red-500;
      &:after {
        @apply bg-red-500;
      }
    }
  }
}
