// -----------------------------------------------------------------------------
// Media queries mixins - mobile first, tailwind breakpoints
// -----------------------------------------------------------------------------

$xsm-width: 320px;
$sm-width: 640px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1280px;
$xxl-width: 1536px;
$xxxl-width: 1660px;

@mixin xsm {
  @media (min-width: #{$xsm-width}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$md-width}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$xl-width}) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: #{$xxl-width}) {
    @content;
  }
}
@mixin xxxl {
  @media (min-width: #{$xxxl-width}) {
    @content;
  }
}
