$font-path: "@/fonts/";

// ---------------------------------------------MONTSERRAT---------------------------------------------
// ----------------------------------------------------------------------------------------------------
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-ExtraLight.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-ExtraBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("#{$font-path}/Montserrat/Montserrat-Black.ttf") format("truetype");
}

//italic
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-ThinItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-ExtraLightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-LightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-MediumItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-SemiBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-BoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-ExtraBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("#{$font-path}/Montserrat/Montserrat-BlackItalic.ttf")
    format("truetype");
}

// ---------------------------------------------POPPINS---------------------------------------------
// -------------------------------------------------------------------------------------------------
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  font-style: normal;
  src: url("#{$font-path}/Poppins/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
  src: url("#{$font-path}/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  src: url("#{$font-path}/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("#{$font-path}/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("#{$font-path}/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("#{$font-path}/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("#{$font-path}/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
  src: url("#{$font-path}/Poppins/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
  src: url("#{$font-path}/Poppins/Poppins-Black.ttf") format("truetype");
}

//italic
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  font-style: italic;
  src: url("#{$font-path}/Poppins/Poppins-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  src: url("#{$font-path}/Poppins/Poppins-ExtraLightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("#{$font-path}/Poppins/Poppins-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url("#{$font-path}/Poppins/Poppins-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("#{$font-path}/Poppins/Poppins-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
  src: url("#{$font-path}/Poppins/Poppins-SemiBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url("#{$font-path}/Poppins/Poppins-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  font-style: italic;
  src: url("#{$font-path}/Poppins/Poppins-ExtraBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: italic;
  src: url("#{$font-path}/Poppins/Poppins-BlackItalic.ttf") format("truetype");
}

// ---------------------------------------------QUICKSAND------------------------------------------
// ------------------------------------------------------------------------------------------------
@font-face {
  font-family: "Quicksand";
  font-weight: 300;
  font-style: normal;
  src: url("#{$font-path}/Quicksand/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  src: url("#{$font-path}/Quicksand/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 500;
  font-style: normal;
  src: url("#{$font-path}/Quicksand/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 600;
  font-style: normal;
  src: url("#{$font-path}/Quicksand/Quicksand-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  src: url("#{$font-path}/Quicksand/Quicksand-Bold.ttf") format("truetype");
}

// ---------------------------------------------ROBOTO---------------------------------------------
// ------------------------------------------------------------------------------------------------
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: url("#{$font-path}/Roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("#{$font-path}/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("#{$font-path}/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("#{$font-path}/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("#{$font-path}/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url("#{$font-path}/Roboto/Roboto-Black.ttf") format("truetype");
}

//italic
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("#{$font-path}/Roboto/Roboto-BlackItalic.ttf") format("truetype");
}
